<a href="https://colab.research.google.com/github/gnaneshwar7781/AdmissionData/blob/main/admission_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

# Package Import

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

# Data Import

In [3]:
df=pd.read_csv('/content/adm_data.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [4]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

# Train Test Split

In [5]:
X=df.drop(['Serial No.','Chance of Admit '],axis=1)
y=df['Chance of Admit ']

In [6]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

# Model fitting

In [7]:
from sklearn.linear_model import LinearRegression

from sklearn.svm import SVR

from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor

In [8]:
reg_1=LinearRegression(n_jobs=-1)

reg_2=SVR()

reg_3=RandomForestRegressor(n_jobs=-1)
reg_4=GradientBoostingRegressor()
reg_5=AdaBoostRegressor()


reg_list=[reg_1,reg_2,reg_3,reg_4,reg_5]

In [9]:
score_dict={}

for reg in reg_list:
    
    reg_name = reg.__class__.__name__
    
    reg.fit(X_train,y_train)
    
    pred=reg.predict(X_test)
    
    print("-"*50)
    
    print(reg_name)
    
    print(f"R2 Score : {r2_score(y_test,pred)}")
    print(f"Mean Absolute Error Score : {mean_absolute_error(y_test,pred)}")
    print(f"Mean Sqaured Error Score : {mean_squared_error(y_test,pred)}")
    
    
    score_dict[reg_name]={
        "R2 Score":r2_score(y_test,pred),
        "Mean Absolute Error Score":mean_absolute_error(y_test,pred),
        "Mean Squared Error Score":mean_squared_error(y_test,pred)
    }

--------------------------------------------------
LinearRegression
R2 Score : 0.8212082591486993
Mean Absolute Error Score : 0.047956733620911976
Mean Sqaured Error Score : 0.004617003377285005
--------------------------------------------------
SVR
R2 Score : 0.6348008667533296
Mean Absolute Error Score : 0.07694861402539703
Mean Sqaured Error Score : 0.009430668461267281
--------------------------------------------------
RandomForestRegressor
R2 Score : 0.8036893389282352
Mean Absolute Error Score : 0.05044500000000006
Mean Sqaured Error Score : 0.005069400750000003
--------------------------------------------------
GradientBoostingRegressor
R2 Score : 0.796782916903452
Mean Absolute Error Score : 0.050025936616922284
Mean Sqaured Error Score : 0.005247747767941396
--------------------------------------------------
AdaBoostRegressor
R2 Score : 0.7986489360072891
Mean Absolute Error Score : 0.05646341492794331
Mean Sqaured Error Score : 0.005199560886022395

In [10]:
score_pd=pd.DataFrame(score_dict).transpose().sort_values("R2 Score",ascending=False)
score_pd

,R2 Score,Mean Absolute Error Score,Mean Squared Error Score
LinearRegression,0.821208,0.047957,0.004617
RandomForestRegressor,0.803689,0.050445,0.005069
AdaBoostRegressor,0.798649,0.056463,0.005200
GradientBoostingRegressor,0.796783,0.050026,0.005248
SVR,0.634801,0.076949,0.009431